<div *ngIf="loading"></div>
<main *ngIf="!loading" class="mt--32">
    <div class="container">
        <div class="row no-gutters product-details">

            <div class="col-12 col-md-4 order-md-2">
                <div class="image">
					<div (click)="changePreviewImage(-1)" class="d-block d-md-none arrow-left">
						<fa-icon [icon]="chevronLeftIcon" class="fa-2x"></fa-icon>
					</div>
					<img [src]="previewImage.url" [alt]="previewImage.alt" />
					<div (click)="changePreviewImage(1)" class="d-block d-md-none arrow-right">
						<fa-icon [icon]="chevronRightIcon" class="fa-2x"></fa-icon>
					</div>
				</div>
			</div>

            <div class="col-12 col-md-4 order-md-1">
                <h1 class="name">{{ product.product_name }}</h1>
			</div>

            <div class="col-12 col-md-4 order-md-3">
                <div class="info">
                    <div class="image-navigation">
                        <div class="balls-container">
                            <div *ngFor="let image of product.images, index as i" class="balls" (click)="setProductPreview(image, i)">
                                <fa-icon [icon]="circleIcon" [classes]="image.id === previewImage.id ? ['dark'] : ['gray']"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <h2>R$ {{ product.price }}</h2>
                    </div>
                    <div class="sizes">
                        <div
                            *ngFor="let key of sizeKeys(sizeCount)"
                            [ngClass]="{
								'size-icon': true,
                                'size-icon-unavailable': sizeCount[key] === 0,
                                'size-icon-active': key === selectedSize
                            }"
                            (click)="selectSize(key)"
                        >
                            <p class="icon-label">{{ key }}</p>
                        </div>
					</div>

					<p *ngIf="sizeUnavailable" class="size-warning">O tamanho selecionado não está disponível</p>

                    <div class="row-no-gutters quantity">
						<p class="title">Quantidade</p>

                        <div class="selector">
                            <div (click)="decrementProductQuantity()" class="change-quantity decrement">
                                <fa-icon [icon]="minusIcon"></fa-icon>
                            </div>
                            <div>
                                <p class="quantity-choosen">{{ productQuantity }}</p>
                            </div>
                            <div (click)="incrementProductQuantity()" class="change-quantity increment">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </div>
						</div>

					</div>

                    <div class="cart-add">
						<div class="add-button" (click)="addToCart()">
							<p>Adicionar ao carrinho</p>
						</div>
                    </div>
                </div>
			</div>

        </div>
    </div>
</main>
