<form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" class="authform px--64 px--sm--24 py--24 py--sm--24">
	<div *requestError="requestError">
		<div class="authform--loading" *ngIf="formLoading"></div>
		<div>
			<p>Recupere sua</p>
			<h1 class="font__size--48 mb--16 mb--sm--16">Conta</h1>
		</div>
		<div>
			<div>
				<div class="float__label mb--8 mb--sm--8 font__weight--bold">
					<input id="emailCpf" name="emailCpf" placeholder="emailCpf" formControlName="email" type="text"
						class="border__radius--4">
					<label for="emailCpf">Email</label>
				</div>
				<div *ngIf="formControls.email.errors">
					<div *ngIf="
					(formControls.email.touched || formControls.email.dirty)
					&& formControls.email.errors.required">
						<p class="color--red font__size--12 my--8 my--sm--8">Por favor, digite seu e-mail.</p>
					</div>
					<div *ngIf="
					(formControls.email.touched || formControls.email.dirty)
					&& formControls.email.errors.pattern">
						<p class="color--red font__size--12 my--8 my--sm--8">Este e-mail não é válido.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="mb--16 mb--sm--16">
					<a (click)="navigate('/auth/login')" class="font__size--12 cursor--pointer">Não perdeu sua conta? Faça seu login.</a>
				</div>
				<div *ngIf="personDontExist">
					<p (click)="navigate('/auth/registro')"
						class="color--red cursor--pointer font__size--12 my--8 my--sm--8">Não existe nenhuma conta com este e-mail. Deseja fazer seu regsitro?</p>
				</div>
			</div>
			<div class="d--flex justify__content--center">
				<button 
				[ngClass]="{
					'btn--outline': true,
					'border__radius--24': true,
					'text__transform--uppercase': true,
					'font__weight--bold': true,
					'btn--outline--fill': formComplete
				}" [disabled]="!formComplete && formLoading">
					<fa-icon [icon]="arrowRightIcon"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</form>