<form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" [ngClass]="{
	'authform': true,
	'overlay': formLoading
}">
	<div *requestError="requestError">
		<div class="loading" *ngIf="formLoading"></div>
		<div>
			<p>Recupere sua</p>
			<h1 class="title">Conta</h1>
		</div>
		<div>
			<div>
				<app-generic-input
                    [inputName]="'email'"
                    [inputId]="'email'"
                    [inputPlaceholder]="'email'"
                    [form]="recoveryForm"
                    [inputControlName]="'email'"
                    [inputDisplayText]="'email'"
                    [inputType]="'text'"
                    [requiredErrorMessage]="'Por favor, digite seu e-mail.'"
                    [patternErrorMessage]="'Este e-mail não é válido.'"
                    [isPassword]="false"
                ></app-generic-input>
			</div>
			<div>
				<div class="reminder">
					<a [routerLink]="['/a', 'login']" class="font__size--12 cursor--pointer">Não perdeu sua conta? Faça seu login.</a>
				</div>
				<div *ngIf="personDontExist" class="wrong-password">
					<a [routerLink]="['/a', 'registro']">Não existe nenhuma conta com este e-mail. Deseja fazer seu registro?</a>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button
				[ngClass]="{
					'button': true,
					'button-fill': formComplete
				}" [disabled]="!formComplete && formLoading">
					<fa-icon [icon]="arrowRightIcon"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</form>
