@mixin on-mobile($args...) {
	$query: "(min-width: 0px) ";
	@each $arg in $args {
		@if ($query == "(min-width: 0px) ") {
			$query: "";
		}
		$operator: "";
		@if ($query != "") {
			$operator: " and ";
		}
		$query: $query + $operator + translate-media-condition($arg);
	}
	@media #{$query} {
		@content;
	}
}
