<app-header></app-header>
<main>
  <div class="login">
    <div *ngIf="isLogin && !isRecovery" class="login__modal">
      <div class="login__loading" *ngIf="loading"></div>
      <div class="login__modal__title">
        <fa-icon [icon]="faSignInAlt" [classes]="['login__modal__icon']"></fa-icon> <h1>Login</h1>
      </div>
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="margin__input">
          <div [@animateInput]="animateEmail ? 'animated' : 'still'" class="input">
            <input formControlName="email" [@border]="animateEmail ? 'active' : 'inactive'" name="email" type="text" class="input__field" (focus)="animateLabel($event)" (focusout)="animateLabel($event)">
            <label [@animateLabel]="animateEmail ? 'up' : 'down'" class="input__label">E-MAIL</label>
          </div>
          <div *ngIf="controls.email.errors">
            <div *ngIf="controls.email.touched || controls.email.dirty && controls.email.errors.required" class="form--error">Por favor, informe um e-mail.</div>
            <div *ngIf="controls.email.touched || controls.email.dirty && controls.email.errors.pattern" class="form--error">Este e-mail não é válido.</div>
          </div>
        </div>
        <div class="margin__input">
          <div [@animateInput]="animatePass ? 'animated' : 'still'" class="input">
            <input formControlName="password" [@border]="animatePass ? 'active' : 'inactive'" name="password" type="password" class="input__field" (focus)="animateLabel($event)" (focusout)="animateLabel($event)">
            <label [@animateLabel]="animatePass ? 'up' : 'down'" class="input__label">SENHA</label>
          </div>
          <div *ngIf="controls.password.errors">
            <div *ngIf="controls.password.touched || controls.password.dirty && controls.password.errors.required" class="form--error">Por favor, informe sua senha.</div>
          </div>
        </div>
        <div class="login__button">
          <button class="btn btn--outline"><p>Entrar <fa-icon [icon]="faAngleRight"></fa-icon></p></button>
          <div>
            <a routerLink="/recuperar-senha">Esqueceu sua senha?</a>
          </div>
          <div>
            <a routerLink="/registro">Criar uma conta?</a>
          </div>
        </div>
      </form>
    </div>
    <app-register *ngIf="!isLogin && !isRecovery"></app-register>
    <app-recovery *ngIf="isRecovery"></app-recovery>
  </div>
</main>
