<nav class="navbar" @slideNav>
	<ul @slideItems>
		<li @slideLi>
			<span class="index">1.</span><a [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
		</li>
		<li @slideLi>
			<span class="index">2.</span><a [routerLink]="['/']" [routerLinkActive]="['active']">Novo</a>
		</li>
		<li @slideLi>
			<span class="index">3.</span><a [routerLink]="['/']" [routerLinkActive]="['active']">Unisex</a>
		</li>
		<li @slideLi>
			<span class="index">4.</span><a [routerLink]="['/']" [routerLinkActive]="['active']">Mulher</a>
		</li>
		<li @slideLi>
			<span class="index">5.</span><a [routerLink]="['/']" [routerLinkActive]="['active']">Homem</a>
		</li>
	</ul>
</nav>
<div @filter (click)="closeNavbar()" class="screenfilter"></div>
