<form [formGroup]="recoveryPasswordForm" class="authform px--64 px--sm--24 py--24 py--sm--24" (ngSubmit)="onSubmit()">
    <div *requestError="requestError">
        <div class="authform--loading" *ngIf="formLoading"></div>
        <div>
            <p>Digite sua</p>
            <h1 class="font__size--48 mb--16 mb--sm--16">Nova senha</h1>
        </div>
        <div>
            <app-generic-input
                [inputName]="'password'"
                [inputId]="'password'"
                [inputPlaceholder]="'password'"
                [form]="recoveryPasswordForm"
                [inputControlName]="'password'"
                [inputDisplayText]="'email'"
                [inputType]="'password'"
                [requiredErrorMessage]="'Por favor, digite sua senha.'"
                [minLengthErrorMessage]="'Sua senha deve conter no mínimo 8 caracteres.'"
                [isPassword]="true"
            ></app-generic-input>
        </div>
        <div>
            <app-generic-input
                [inputName]="'confirmation'"
                [inputId]="'confirmation'"
                [inputPlaceholder]="'confirmation'"
                [form]="recoveryPasswordForm"
                [inputControlName]="'confirmation'"
                [inputDisplayText]="'confirmação'"
                [inputType]="'password'"
                [passwordConfirmationErrorMessage]="'Sua senha e confirmação precisam ser iguais.'"
                [passwordConfirmationValidator]="passwordsMatch"
                [isPassword]="true"
            ></app-generic-input>
        </div>
        <div class="d--flex justify__content--center">
			<button
				[ngClass]="{
					'btn--outline': true,
					'border__radius--24': true,
					'text__transform--uppercase': true,
					'font__weight--bold': true,
					'btn--outline--fill': formComplete
				}"
				[disabled]="!formComplete || formLoading"
			>
				<fa-icon [icon]="arrowRightIcon"></fa-icon>
			</button>
		</div>
    </div>
</form>
