<div class="float__label mb--8 mb--sm--8 font__weight--bold" [formGroup]="form">
    <input
        [id]="inputId"
        [name]="inputName"
        [placeholder]="inputPlaceholder"
        [type]="inputType"
        [formControlName]="inputControlName"
        [mask]="inputMask"
        class="border__radius--4"
        #input
    />
    <label [for]="inputId">{{ inputDisplayText }}</label>
    <fa-icon
        *ngIf="!showPassword && isPassword"
        (click)="togglePasswordVisibility(input)"
        [icon]="eyeSlashIcon"
        size="lg"
        [classes]="[
            'position--absolute',
            'top--50--percentage',
            'right--8',
            'transform__translatey--50--percentage--negative',
            'cursor--pointer'
        ]"
    ></fa-icon>
    <fa-icon
        *ngIf="showPassword && isPassword"
        (click)="togglePasswordVisibility(input)"
        [icon]="eyeIcon"
        size="lg"
        [classes]="[
            'position--absolute',
            'top--50--percentage',
            'right--8',
            'transform__translatey--50--percentage--negative',
            'cursor--pointer'
        ]"
    ></fa-icon>
</div>
<div>
    <div *ngIf="form.get(inputControlName).errors">
        <div *ngIf="
        (form.get(inputControlName).touched || form.get(inputControlName).dirty)
        && form.get(inputControlName).errors.required">
            <p class="color--red font__size--12 my--8 my--sm--8">{{ requiredErrorMessage }}</p>
        </div>
        <div *ngIf="
        (form.get(inputControlName).touched || form.get(inputControlName).dirty)
        && form.get(inputControlName).errors.pattern">
            <p class="color--red font__size--12 my--8 my--sm--8">{{ patternErrorMessage }}</p>
        </div>
        <div *ngIf="
        (form.get(inputControlName).touched || form.get(inputControlName).dirty)
        && form.get(inputControlName).errors.minlength">
            <p class="color--red font__size--12 my--8 my--sm--8">{{ minLengthErrorMessage }}</p>
        </div>
        <div *ngIf="
        (form.get(inputControlName).touched || form.get(inputControlName).dirty)
        && form.get(inputControlName).errors.maxlength">
            <p class="color--red font__size--12 my--8 my--sm--8">{{ maxLengthErrorMessage }}</p>
        </div>
        <div *ngIf="
        (form.get(inputControlName).touched || form.get(inputControlName).dirty)
        && !passwordConfirmationValidator">
            <p class="color--red font__size--12 my--8 my--sm--8">{{ passwordConfirmationErrorMessage }}</p>
        </div>
    </div>
</div>
