<header>
	<div class="header">
		<div class="container-fluid px-md-5">
			<div class="row">
				<div class="col-2 d-md-none d-flex align-items-center">
					<div (click)="toggleNavbar()" class="menu">
						<div class="menu-circle-left"></div>
						<div class="menu-circle-right"></div>
					</div>
				</div>
				<div class="col-8 col-md-4">
					<div class="d-flex align-items-center justify-content-center">
						<div (click)="toggleNavbar()" class="menu mr-3 d-none d-md-block">
							<div class="menu-circle-left"></div>
							<div class="menu-circle-right"></div>
						</div>
						<div class="logo">
							<h1 class="text">Darkmoon</h1>
							<img src="../../../assets/img/logo-icon.png" class="icon" alt="Darkmoon Logo">
						</div>
					</div>
				</div>
				<div class="col-2 col-md-8">
					<div class="d-flex h-100 align-items-center justify-content-end">
						<app-cart-icon></app-cart-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-navbar *ngIf="showNavbar" (closeEmitter)="toggleNavbar()"></app-navbar>
</header>
<app-cart></app-cart>
