@mixin button-primary() {
	outline: none;
	border: none;
	background: $color-text;
	color: $color-gray-default;
	padding: map-get($spacings, "half") map-get($spacings, "default");
	@content;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		cursor: normal;
	}
}

@mixin button-outline() {
	border: 2px solid $color-gray-medium;
	background: none;
	padding: map-get($spacings, "default") (map-get($spacings, "big") * 2);
	color: $color-gray-dark;
	@content;

	&:not(:disabled) {
		cursor: pointer;
	}

	&-fill {
		background: $color-text;
		color: white;
	}

	&:disabled {
		cursor: normal;
	}
}
