.authform {
	width: 400px;
	max-width: 400px;
	background-color: white;
	position: relative;
	overflow: hidden;
	padding: map-get($spacings, "max") map-get($spacings, "big");

	@include on-mobile("<phone") {
		padding: map-get($spacings, "big");
		width: 100%;
	}

	.title {
		font-size: 48px;
		margin-bottom: map-get($spacings, "default");
	}

	.reminder {
		margin-bottom: 16px;

		a {
			font-size: 12px;

			&:hover {
				color: $color-text;
			}
		}
	}

	.wrong-password {
		color: $color-error;
		margin: 12px 0;

		a {
			font-size: 12px;

			&:hover {
				color: $color-text;
			}
		}
	}

	&.overlay {
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.5);
			z-index: 1;
		}
	}

	.loading {
		height: 5px;
		background: $color-text;
		width: 0;
		position: absolute;
		top: 0;
		left: 0;
		animation-name: 'loadingBar';
		animation-duration: 1500ms;
		animation-timing-function: cubic-bezier(0.38, 0.12, 1, 0.62);
		animation-iteration-count: infinite;
		z-index: 2;
	}

	.button {
		@include button-outline;
		border-radius: map-get($spacings, "big");
		font-weight: bold;
		text-transform: uppercase;
	}

}
