@media (max-width: 767px) {
    @for $i from 0 through 100 {    
        .h--sm--#{$i} {
            height: $i * 1%;
        }

        .h--min--sm--#{$i} {
            min-height: $i * 1%;
        }
    
        .w--sm--#{$i} {
            width: $i * 1%;
        }

        .w--min--sm--#{$i} {
            width: $i * 1%;
        }
    
        .p {
            &--sm--#{$i} {
                padding: $i * 1px;
            }
            
            &x--sm--#{$i} {
                padding-right: $i * 1px;
                padding-left: $i * 1px;
            }
    
            &y--sm--#{$i} {
                padding-top: $i * 1px;
                padding-bottom: $i * 1px;
            }
    
            &t--sm--#{$i} {
                padding-top: $i * 1px;
            }
    
            &r--sm--#{$i} {
                padding-right: $i * 1px;
            }
    
            &b--sm--#{$i} {
                padding-bottom: $i * 1px;
            }
    
            &l--sm--#{$i} {
                padding-left: $i * 1px;
            }
        }
    
        .m {
            &--sm--#{$i} {
                margin: $i * 1px;
            }
            
            &x--sm--#{$i} {
                margin-right: $i * 1px;
                margin-left: $i * 1px;
            }
    
            &y--sm--#{$i} {
                margin-top: $i * 1px;
                margin-bottom: $i * 1px;
            }
    
            &t--sm--#{$i} {
                margin-top: $i * 1px;
            }
    
            &r--sm--#{$i} {
                margin-right: $i * 1px;
            }
    
            &b--sm--#{$i} {
                margin-bottom: $i * 1px;
            }
    
            &l--sm--#{$i} {
                margin-left: $i * 1px;
            }
        }
    }
}