<main class="mt-4">
    <div class="container">
        <div class="row no-gutters product-details">


            <div class="col-12 col-md-4 order-md-2">
				<app-skeleton-loader *ngIf="loadingProduct" [width]="'100'" [percentageWidth]="true" [height]="'435'"></app-skeleton-loader>
                <div class="image" *ngIf="!loadingProduct">
					<div (click)="changePreviewImage(-1)" class="d-block d-md-none arrow-left">
						<fa-icon [icon]="chevronLeftIcon" class="fa-2x"></fa-icon>
					</div>
					<img [src]="previewImage.url" [alt]="previewImage.alt" />
					<div (click)="changePreviewImage(1)" class="d-block d-md-none arrow-right">
						<fa-icon [icon]="chevronRightIcon" class="fa-2x"></fa-icon>
					</div>
				</div>
			</div>


            <div class="col-12 col-md-4 order-md-1">
				<app-skeleton-loader *ngIf="loadingProduct" [width]="'95'" [percentageWidth]="true" [height]="'33'"></app-skeleton-loader>
				<app-skeleton-loader *ngIf="loadingProduct" [width]="'70'" [percentageWidth]="true" [height]="'33'"></app-skeleton-loader>
                <h1 *ngIf="!loadingProduct" class="name">{{ product.product_name }}</h1>
			</div>


            <div class="col-12 col-md-4 order-md-3">
                <div class="info">


					<div class="image-navigation">
						<app-skeleton-loader *ngIf="loadingProduct" [width]="'28'" [percentageWidth]="true" [height]="'33'"></app-skeleton-loader>
						<div *ngIf="!loadingProduct" class="balls-container">
                            <div *ngFor="let image of product.images, index as i" class="balls" (click)="setProductPreview(image, i)">
                                <fa-icon [icon]="circleIcon" [classes]="image.id === previewImage.id ? ['dark'] : ['gray']"></fa-icon>
                            </div>
                        </div>
					</div>


                    <div class="price">
						<app-skeleton-loader *ngIf="loadingProduct" [width]="'85'" [percentageWidth]="true" [height]="'60'"></app-skeleton-loader>
                        <h2 *ngIf="!loadingProduct">R$ {{ product.price }}</h2>
					</div>


					<app-skeleton-loader *ngIf="loadingProduct" [width]="'100'" [percentageWidth]="true" [height]="'90'"></app-skeleton-loader>
                    <div *ngIf="!loadingProduct" class="sizes">
                        <div
                            *ngFor="let key of sizeKeys(sizeCount)"
                            [ngClass]="{
								'size-icon': true,
                                'size-icon-unavailable': sizeCount[key] === 0,
                                'size-icon-active': key === selectedSize
                            }"
                            (click)="selectSize(key)"
                        >
                            <p class="icon-label">{{ key }}</p>
                        </div>
					</div>
					<p *ngIf="sizeUnavailable" class="size-warning">O tamanho selecionado não está disponível</p>



                    <div class="row-no-gutters quantity">
						<app-skeleton-loader *ngIf="loadingProduct" [width]="'40'" [percentageWidth]="true" [height]="'30'"></app-skeleton-loader>
						<p *ngIf="!loadingProduct" class="title">Quantidade</p>


						<app-skeleton-loader *ngIf="loadingProduct" [width]="'30'" [percentageWidth]="true" [height]="'40'"></app-skeleton-loader>
                        <div *ngIf="!loadingProduct" class="selector">
                            <div (click)="decrementProductQuantity()" class="change-quantity decrement">
                                <fa-icon [icon]="minusIcon"></fa-icon>
                            </div>
                            <div>
                                <p class="quantity-choosen">{{ productQuantity }}</p>
                            </div>
                            <div (click)="incrementProductQuantity()" class="change-quantity increment">
                                <fa-icon [icon]="plusIcon"></fa-icon>
                            </div>
						</div>
					</div>


					<app-skeleton-loader *ngIf="loadingProduct" [width]="'45'" [percentageWidth]="true" [height]="'28'"></app-skeleton-loader>
                    <div class="cart-add">
						<div *ngIf="!loadingProduct" class="add-button" (click)="addToCart()">
							<p>Adicionar ao carrinho</p>
						</div>
					</div>


                </div>
			</div>

        </div>
    </div>
</main>
