<footer class="bg--black py--big">
  <div class="container">
    <div class="d--grid grid--4col">
      <div>
        <h2
          class="text--small text--bold text--uppercase mb--small color--white"
        >
          DARKMOON
        </h2>
      </div>
      <div>
        <h2
          class="text--small text--bold text--uppercase mb--small color--white"
        >
          MENU2
        </h2>
      </div>
      <div>
        <h2
          class="text--small text--bold text--uppercase mb--small color--white"
        >
          MENU3
        </h2>
      </div>
      <div>
        <h2
          class="text--small text--bold text--uppercase mb--small color--white"
        >
          MENU4
        </h2>
      </div>
    </div>
  </div>
</footer>
