<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div>
		<label for="email">Email</label>
		<input 
			type="text"
			formControlName="email"
		>
	</div>
	<div>
		<label for="cpf">CPF</label>
		<input 
			type="text"
			formControlName="cpf"
		>
	</div>
	<div>
		<label for="password">Password</label>
		<input 
			type="text" 
			formControlName="password"
		>
	</div>
	<div>
		<label for="passwordConfirmation">Confirmation</label>
		<input 
			type="text" 
			formControlName="passwordConfirmation"
		>
	</div>
	<div>
		<button>Registrar</button>
	</div>
</form>