<form
	[ngClass]="{
		'authform': true,
		'overlay': formLoading
	}"
	[formGroup]="registerForm"
	(ngSubmit)="onSubmit()"
>
	<div *requestError="requestError">
		<div class="loading" *ngIf="formLoading"></div>
		<div>
			<p>Faça seu</p>
			<h1 class="title">Registro</h1>
		</div>
		<div>
            <app-generic-input
                [inputName]="'name'"
                [inputId]="'name'"
                [inputPlaceholder]="'name'"
                [form]="registerForm"
                [inputControlName]="'name'"
                [inputDisplayText]="'nome'"
                [inputType]="'text'"
                [requiredErrorMessage]="'Por favor, nos diga seu nome.'"
                [patternErrorMessage]="'Este e-mail não é válido.'"
                [isPassword]="false"
            ></app-generic-input>
		</div>
		<div>
			<app-generic-input
                [inputName]="'email'"
                [inputId]="'email'"
                [inputPlaceholder]="'email'"
                [form]="registerForm"
                [inputControlName]="'email'"
                [inputDisplayText]="'email'"
                [inputType]="'text'"
                [requiredErrorMessage]="'Por favor, digite seu e-mail.'"
                [patternErrorMessage]="'Este e-mail não é válido.'"
                [isPassword]="false"
            ></app-generic-input>
		</div>
		<div>
            <app-generic-input
                [inputName]="'cpf'"
                [inputId]="'cpf'"
                [inputPlaceholder]="'cpf'"
                [form]="registerForm"
                [inputControlName]="'cpf'"
                [inputDisplayText]="'cpf'"
                [inputType]="'text'"
                [inputMask]="'000.000.000-00'"
                [requiredErrorMessage]="'Por favor, digite seu CPF.'"
                [patternErrorMessage]="'Este CPF não é válido.'"
                [isPassword]="false"
            ></app-generic-input>
		</div>
		<div>
            <app-generic-input
                [inputName]="'password'"
                [inputId]="'password'"
                [inputPlaceholder]="'password'"
                [form]="registerForm"
                [inputControlName]="'password'"
                [inputDisplayText]="'senha'"
                [inputType]="'password'"
                [requiredErrorMessage]="'Por favor, digite sua senha.'"
                [minLengthErrorMessage]="'Sua senha deve conter no mínimo 8 caracteres.'"
                [isPassword]="true"
            ></app-generic-input>
		</div>
		<div>
            <app-generic-input
                [inputName]="'confirmation'"
                [inputId]="'confirmation'"
                [inputPlaceholder]="'confirmation'"
                [form]="registerForm"
                [inputControlName]="'confirmation'"
                [inputDisplayText]="'confirmação'"
                [inputType]="'password'"
                [passwordConfirmationErrorMessage]="'Sua senha e confirmação precisam ser iguais.'"
                [passwordConfirmationValidator]="passwordsMatch"
                [isPassword]="true"
            ></app-generic-input>
		</div>
		<div class="reminder">
			<a [routerLink]="['/a', 'login']">Já faz parte do culto? Faça seu login.</a>
		</div>
		<div *ngIf="userAlreadyExists" class="wrong-password">
			<a [routerLink]="['/a', 'recuperar-conta']">Já existe uma conta com esse e-mail. Esqueceu sua senha?</a>
		</div>
		<div class="d-flex justify-content-center">
			<button
				[ngClass]="{
					'button': true,
					'button-fill': formComplete
				}"
				[disabled]="!formComplete || formLoading"
			>
				<fa-icon [icon]="arrowRightIcon"></fa-icon>
			</button>
		</div>
	</div>
</form>
