<div class="cart__backdrop" *ngIf="isCartOpen" (click)="toggleCart()"></div>
<div class="cart" *ngIf="isCartOpen">
  <div>
    <div class="cart__black__screen" (click)="toggleCart()"></div>
    <div class="cart__container">
      <div *ngIf="cartLoading && !cartHasError">
        Carregando seu carrinho...
      </div>
      <div *ngIf="!isCartEmpty && !cartHasError && !cartLoading">
        <h2 class="cart__container__title">Seu carrinho</h2>

        <div class="cart__container__products">
          <div *ngFor="let product of products;" class="cart__container__product">
            <div class="cart__container__product__image">
              <img [src]="product.product.images[0].url" />
            </div>
            <div class="cart__container__product__details">
              <h4>
                {{ product.product.product_name }}
              </h4>
              <div class="cart__container__product__details__bottom">
                <span class="cart__quantity__change">
                  Qtd
                  <a class="quantity__icon" (click)="setProductQuantity(-1, product.product.id)">-</a>
                  {{product.quantity}}
                  <a class="quantity__icon" (click)="setProductQuantity(1, product.product.id)">+</a>
                </span>
                <div class="cart__price__info">
                  <p>Tamanho: {{ product.product.size }}</p>
                  <p>R${{ product.product.price }}</p>
                </div>
              </div>
            </div>
            <div class="cart__container__product__actions">

            </div>
          </div>
        </div>

        <div class="cart__container__finish">
          <h2>Total: {{totalPrice}}</h2>
          <button class="btn btn--primary">Finalizar compra</button>
        </div>
      </div>
      <div *ngIf="isCartEmpty && !cartHasError">
        <h2 class="cart__container__title">Seu carrinho está vazio!</h2>
        <p class="cart__container__suggestion">
          Mas vamos te ajudar a mudar isso, aqui, olha essa sugestão!
        </p>
        <!-- <div class="product">
          <div class="product__suggestions">
            <div class="product__suggestions__cards">
              <div
                class="product__suggestions__cards__card"
                [routerLink]="[
                  '/',
                  suggestion.model | models,
                  suggestion.category,
                  suggestion.gender | genders,
                  suggestion.url
                ]"
              >
                <div class="product__suggestion__cards__card--left">
                  <h2 class="product__suggestion__cards__card--left__title">
                    {{ suggestion.name }}
                  </h2>
                  <h3 class="product__suggestion__cards__card--left__price">
                    R${{ suggestion.price }}
                  </h3>
                </div>
                <div class="product__suggestion__cards__card--right">
                  <img [src]="suggestion.images[0].url" />
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div *ngIf="cartHasError">
        <h2>error</h2>
      </div>
    </div>
  </div>
</div>
