.btn {
    outline: none;
    &:not(:disabled) {
        cursor: pointer;
    }

    &--primary {
        @extend .btn;
        border:none;
        background: $color-text;
        color: $color-gray-default;
        padding: ($padding / 2) $padding;
    }

    &--outline {
        @extend .btn;
        border: 2px solid $color-gray-medium;
        background: none;
        padding: 16px 48px;
        color: $color-gray-dark;

        &--fill {
            @extend .btn--outline;
            background: $color-text;
            color: white;
        }
    }

    &:disabled {
        cursor: normal;
    }
}