.d--flex {
    display: flex;

    &.flex__direction--column {
        flex-direction: column;
    }

    &.flex__direction--column-reverse {
        flex-direction: column-reverse;
    }

    &.flex__direction--row {
        flex-direction: row;
    }

    &.flex__direction--row-reverse {
        flex-direction: row-reverse;
    }

    &.justify__content--flex-start {
        justify-content: flex-start;
    }

    &.justify__content--center {
        justify-content: center;
    }

    &.justify__content--flex-end {
        justify-content: flex-end;
    }

    &.align__items--flex-start {
        align-items: flex-start;
    }

    &.align__items--center {
        align-items: center;
    }

    &.align__items--flex-end {
        align-items: flex-end;
    }
}