@for $i from 1 through 100 {
    .font__size--#{$i} {
        font-size: $i * 1px;
    }
}

.font {

    &__weight {
        @extend .font;

        &--bold {
            @extend .font__weight;
            font-weight: bold;
        }
    }
}

.text {
    &__transform {
        @extend .text;
        
        &--uppercase {
            @extend .text__transform;
            text-transform: uppercase;
        }
    }
}

.color {

    &--red {
        @extend .color;
        color: $color-error;
    }
}