@import './markpro.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "MarkPro";
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

p,
a,
h5,
h4,
h3,
h2,
h1 {
  color: $color-text;
}

label {
  display: block;
}