@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
}

body {
  // background: #f8f8f8;
}

p,
a,
h5,
h4,
h3,
h2,
h1 {
  color: $color-gray-dark;
}
