@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Century Gothic";
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

body {
  // background: #f8f8f8;
}

p,
a,
h5,
h4,
h3,
h2,
h1 {
  color: $color-text;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}
