@import "./variables.scss";

.container {
  width: 95%;
  margin: 0 auto;

  &--small {
    width: 75%;
    margin: 0 auto;
  }
}

.header {
  height: 65px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.d {
  // Display

  &--block {
    display: block;
  }

  &--flex {
    display: flex;
  }

  &--grid {
    display: grid;
    grid-gap: $margin-default;

    &.grid--2col {
      grid-template-columns: 1fr 1fr;

      &--left-big {
        grid-template-columns: 2fr 1fr;
      }
    }

    &.grid--3col {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.grid--4col {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.grid--5col {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &.grid--6col {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.fd {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.p {
  // Position

  &--relative {
    position: relative;
  }

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }
}

.jc {
  // Justify-content

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }

  &--flex-end {
    justify-content: flex-end;
  }

  &--flex-start {
    justify-content: flex-start;
  }
}

.ai {
  // Align-items

  &--flex-start {
    align-items: flex-start;
  }

  &--flex-end {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }
}

.bg {
  // Background

  &--black {
    background: $color-black;
  }

  &--white {
    background: $color-white;
  }
}

.color {
  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }

  &--success {
    color: $color-success;
  }
}

.mx {
  &--default {
    margin-left: $margin-default;
    margin-right: $margin-default;
  }

  &--small {
    margin-left: $margin-small;
    margin-right: $margin-small;
  }

  &--min {
    margin-left: $margin-min;
    margin-right: $margin-min;
  }

  &--big {
    margin-left: $margin-big;
    margin-right: $margin-big;
  }

  &--max {
    margin-left: $margin-max;
    margin-right: $margin-max;
  }

  &--auto {
    margin-right: auto;
    margin-left: auto;
  }
}

.my {
  &--default {
    margin-top: $margin-default;
    margin-bottom: $margin-default;
  }

  &--small {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
  }

  &--min {
    margin-top: $margin-min;
    margin-bottom: $margin-min;
  }

  &--big {
    margin-top: $margin-big;
    margin-bottom: $margin-big;
  }

  &--max {
    margin-top: $margin-max;
    margin-bottom: $margin-max;
  }
}

.mb {
  &--default {
    margin-bottom: $margin-default;
  }

  &--small {
    margin-bottom: $margin-small;
  }

  &--min {
    margin-bottom: $margin-min;
  }

  &--big {
    margin-bottom: $margin-big;
  }

  &--max {
    margin-bottom: $margin-max;
  }
}

.mt {
  &--default {
    margin-top: $margin-default;
  }

  &--small {
    margin-top: $margin-small;
  }

  &--min {
    margin-top: $margin-min;
  }

  &--big {
    margin-top: $margin-big;
  }

  &--max {
    margin-top: $margin-max;
  }
}

.ml {
  &--default {
    margin-left: $margin-default;
  }

  &--small {
    margin-left: $margin-small;
  }

  &--min {
    margin-left: $margin-min;
  }

  &--big {
    margin-left: $margin-big;
  }

  &--max {
    margin-left: $margin-max;
  }
}

.mr {
  &--default {
    margin-right: $margin-default;
  }

  &--small {
    margin-right: $margin-small;
  }

  &--min {
    margin-right: $margin-min;
  }

  &--big {
    margin-right: $margin-big;
  }

  &--max {
    margin-right: $margin-max;
  }
}

.pd {
  &--default {
    padding: $padding-default;
  }

  &--small {
    padding: $padding-small;
  }

  &--min {
    padding: $padding-min;
  }

  &--big {
    padding: $padding-big;
  }

  &--max {
    padding: $padding-max;
  }
}

.px {
  &--default {
    padding-left: $padding-default;
    padding-right: $padding-default;
  }

  &--small {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  &--min {
    padding-left: $padding-min;
    padding-right: $padding-min;
  }

  &--big {
    padding-left: $padding-big;
    padding-right: $padding-big;
  }

  &--max {
    padding-left: $padding-max;
    padding-right: $padding-max;
  }
}

.py {
  &--default {
    padding-top: $padding-default;
    padding-bottom: $padding-default;
  }

  &--small {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
  }

  &--min {
    padding-top: $padding-min;
    padding-bottom: $padding-min;
  }

  &--big {
    padding-top: $padding-big;
    padding-bottom: $padding-big;
  }

  &--max {
    padding-top: $padding-max;
    padding-bottom: $padding-max;
  }
}

.pb {
  &--default {
    padding-bottom: $padding-default;
  }

  &--small {
    padding-bottom: $padding-small;
  }

  &--min {
    padding-bottom: $padding-min;
  }

  &--big {
    padding-bottom: $padding-big;
  }

  &--max {
    padding-bottom: $padding-max;
  }
}

.pt {
  &--default {
    padding-top: $padding-default;
  }

  &--small {
    padding-top: $padding-small;
  }

  &--min {
    padding-top: $padding-min;
  }

  &--big {
    padding-top: $padding-big;
  }

  &--max {
    padding-top: $padding-max;
  }
}

.pl {
  &--default {
    padding-left: $padding-default;
  }

  &--small {
    padding-left: $padding-small;
  }

  &--min {
    padding-left: $padding-min;
  }

  &--big {
    padding-left: $padding-big;
  }

  &--max {
    padding-left: $padding-max;
  }
}

.pr {
  &--default {
    padding-right: $padding-default;
  }

  &--small {
    padding-right: $padding-small;
  }

  &--min {
    padding-right: $padding-min;
  }

  &--big {
    padding-right: $padding-big;
  }

  &--max {
    padding-right: $padding-max;
  }
}

.h {
  // Height

  &--full {
    height: 100%;
  }
}

.w {
  // Width

  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }
}

.navbar {
  list-style: none;
  text-transform: uppercase;

  li:not(:last-of-type) {
    margin-right: $margin-big;
  }
}

.home__banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &--small {
    font-size: $text-small;
  }

  &--center {
    text-align: center;
  }

  &--muted {
    color: #434343;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--normal {
    font-weight: normal;
  }

  &--h1 {
    font-size: $h1;
  }

  &--h2 {
    font-size: $h2;
  }
}

.product__card {
  .product__preview {
    width: 100%;
    height: 350px;
    margin-bottom: $margin-small;

    img {
      width: 100%;

      &:last-of-type {
        display: none;
      }

      &:hover {
        display: none;

        & + :last-of-type {
          display: block;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-black;
  }
}

.paragraph {
  font-size: $paragraph;
}

.heading {
  &--1 {
    font-size: $h1;
  }

  &--2 {
    font-size: $h2;
  }

  &--3 {
    font-size: $h3;
  }

  &--4 {
    font-size: $h4;
  }

  &--5 {
    font-size: $h5;
  }
}

.product__inner {
  margin-top: $margin-big;

  .product__inner__previews {
    height: 150px;
    width: 100%;
    overflow: hidden;

    .product__inner__previews__image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: top;
      margin-left: $margin-default;
      transition: all 300ms;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.b {
  // Border

  &--round {
    &--default {
      border-radius: $border-default;
    }

    &--small {
      border-radius: $border-small;
    }

    &--min {
      border-radius: $border-min;
    }

    &--big {
      border-radius: $border-big;
    }

    &--max {
      border-radius: $border-max;
    }
  }
}

.size__label {
  border: 1px solid $color-gray-light;
  outline: none;
  background: none;
  padding: $padding-small;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: $margin-small;
  }

  &--unavaliable {
    position: relative;

    &::after {
      content: "";
      transform: rotate(135deg) translateX(0) translateY(0);
      width: 52px;
      background-color: $color-gray-dark;
      height: 2px;
      position: absolute;
      top: 48%;
      left: -8px;
      z-index: 999;
    }
  }
}

.product__input--quantity {
  width: 100px;
  border: 1px solid $color-gray-light;
  padding: $padding-min;
}

.btn {
  outline: none;
  height: 40px;
  cursor: pointer;
  margin-bottom: $margin-small;

  &.btn--full {
    width: 100%;
  }

  &.btn--primary {
    border: none;
    color: white;
    font-weight: bold;
    background: $color-gray-dark;
  }

  &.btn--secondary {
    border: none;
    background: $color-gray-light;
    font-weight: bold;
    color: $color-gray-dark;
  }
}
