@import "./variables.scss";

.container {
  width: 95%;
  margin: 0 auto;

  &--small {
    width: 75%;
    margin: 0 auto;
  }
}

.d {
  // Display

  &--block {
    display: block;
  }

  &--flex {
    display: flex;
  }

  &--grid {
    display: grid;
    grid-gap: $margin-default;

    &.grid--2col {
      grid-template-columns: 1fr 1fr;

      &--left-big {
        grid-template-columns: 2fr 1fr;
      }
    }

    &.grid--3col {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.grid--4col {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.grid--5col {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &.grid--6col {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.fd {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.p {
  // Position

  &--relative {
    position: relative;
  }

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }
}

.jc {
  // Justify-content

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }

  &--flex-end {
    justify-content: flex-end;
  }

  &--flex-start {
    justify-content: flex-start;
  }
}

.ai {
  // Align-items

  &--flex-start {
    align-items: flex-start;
  }

  &--flex-end {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }
}

.bg {
  // Background

  &--black {
    background: $color-black;
  }

  &--white {
    background: $color-white;
  }
}

.color {
  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }

  &--success {
    color: $color-success;
  }
}

.mx {
  &--default {
    margin-left: $margin-default;
    margin-right: $margin-default;
  }

  &--small {
    margin-left: $margin-small;
    margin-right: $margin-small;
  }

  &--min {
    margin-left: $margin-min;
    margin-right: $margin-min;
  }

  &--big {
    margin-left: $margin-big;
    margin-right: $margin-big;
  }

  &--max {
    margin-left: $margin-max;
    margin-right: $margin-max;
  }

  &--auto {
    margin-right: auto;
    margin-left: auto;
  }
}

.my {
  &--default {
    margin-top: $margin-default;
    margin-bottom: $margin-default;
  }

  &--small {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
  }

  &--min {
    margin-top: $margin-min;
    margin-bottom: $margin-min;
  }

  &--big {
    margin-top: $margin-big;
    margin-bottom: $margin-big;
  }

  &--max {
    margin-top: $margin-max;
    margin-bottom: $margin-max;
  }
}

.mb {
  &--default {
    margin-bottom: $margin-default;
  }

  &--small {
    margin-bottom: $margin-small;
  }

  &--min {
    margin-bottom: $margin-min;
  }

  &--big {
    margin-bottom: $margin-big;
  }

  &--max {
    margin-bottom: $margin-max;
  }
}

.mt {
  &--default {
    margin-top: $margin-default;
  }

  &--small {
    margin-top: $margin-small;
  }

  &--min {
    margin-top: $margin-min;
  }

  &--big {
    margin-top: $margin-big;
  }

  &--max {
    margin-top: $margin-max;
  }
}

.ml {
  &--default {
    margin-left: $margin-default;
  }

  &--small {
    margin-left: $margin-small;
  }

  &--min {
    margin-left: $margin-min;
  }

  &--big {
    margin-left: $margin-big;
  }

  &--max {
    margin-left: $margin-max;
  }
}

.mr {
  &--default {
    margin-right: $margin-default;
  }

  &--small {
    margin-right: $margin-small;
  }

  &--min {
    margin-right: $margin-min;
  }

  &--big {
    margin-right: $margin-big;
  }

  &--max {
    margin-right: $margin-max;
  }
}

.pd {
  &--default {
    padding: $padding-default;
  }

  &--small {
    padding: $padding-small;
  }

  &--min {
    padding: $padding-min;
  }

  &--big {
    padding: $padding-big;
  }

  &--max {
    padding: $padding-max;
  }
}

.px {
  &--default {
    padding-left: $padding-default;
    padding-right: $padding-default;
  }

  &--small {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  &--min {
    padding-left: $padding-min;
    padding-right: $padding-min;
  }

  &--big {
    padding-left: $padding-big;
    padding-right: $padding-big;
  }

  &--max {
    padding-left: $padding-max;
    padding-right: $padding-max;
  }
}

.py {
  &--default {
    padding-top: $padding-default;
    padding-bottom: $padding-default;
  }

  &--small {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
  }

  &--min {
    padding-top: $padding-min;
    padding-bottom: $padding-min;
  }

  &--big {
    padding-top: $padding-big;
    padding-bottom: $padding-big;
  }

  &--max {
    padding-top: $padding-max;
    padding-bottom: $padding-max;
  }
}

.pb {
  &--default {
    padding-bottom: $padding-default;
  }

  &--small {
    padding-bottom: $padding-small;
  }

  &--min {
    padding-bottom: $padding-min;
  }

  &--big {
    padding-bottom: $padding-big;
  }

  &--max {
    padding-bottom: $padding-max;
  }
}

.pt {
  &--default {
    padding-top: $padding-default;
  }

  &--small {
    padding-top: $padding-small;
  }

  &--min {
    padding-top: $padding-min;
  }

  &--big {
    padding-top: $padding-big;
  }

  &--max {
    padding-top: $padding-max;
  }
}

.pl {
  &--default {
    padding-left: $padding-default;
  }

  &--small {
    padding-left: $padding-small;
  }

  &--min {
    padding-left: $padding-min;
  }

  &--big {
    padding-left: $padding-big;
  }

  &--max {
    padding-left: $padding-max;
  }
}

.pr {
  &--default {
    padding-right: $padding-default;
  }

  &--small {
    padding-right: $padding-small;
  }

  &--min {
    padding-right: $padding-min;
  }

  &--big {
    padding-right: $padding-big;
  }

  &--max {
    padding-right: $padding-max;
  }
}

.h {
  // Height

  &--full {
    height: 100%;
  }
}

.w {
  // Width

  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }
}

.navbar {
  list-style: none;
  text-transform: uppercase;

  li:not(:last-of-type) {
    margin-right: $margin-big;
  }
}

.home__banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &--small {
    font-size: $text-small;
  }

  &--center {
    text-align: center;
  }

  &--muted {
    color: #434343;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--normal {
    font-weight: normal;
  }

  &--h1 {
    font-size: $h1;
  }

  &--h2 {
    font-size: $h2;
  }
}

.product__card {
  .product__preview {
    width: 100%;
    height: 350px;
    margin-bottom: $margin-small;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: top;

      &:last-of-type {
        display: none;
      }

      &:hover {
        display: none;

        & + :last-of-type {
          display: block;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-black;
  }
}

.paragraph {
  font-size: $paragraph;
}

.heading {
  &--1 {
    font-size: $h1;
  }

  &--2 {
    font-size: $h2;
  }

  &--3 {
    font-size: $h3;
  }

  &--4 {
    font-size: $h4;
  }

  &--5 {
    font-size: $h5;
  }
}

.b {
  // Border

  &--round {
    &--default {
      border-radius: $border-default;
    }

    &--small {
      border-radius: $border-small;
    }

    &--min {
      border-radius: $border-min;
    }

    &--big {
      border-radius: $border-big;
    }

    &--max {
      border-radius: $border-max;
    }
  }
}

.size__label {
  border: 1px solid $color-gray-light;
  outline: none;
  background: none;
  padding: $padding-small;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: $margin-small;
  }

  &--unavaliable {
    position: relative;

    &::after {
      content: "";
      transform: rotate(135deg) translateX(0) translateY(0);
      width: 52px;
      background-color: $color-gray-dark;
      height: 2px;
      position: absolute;
      top: 48%;
      left: -8px;
      z-index: 999;
    }
  }
}

.product__input--quantity {
  width: 100px;
  border: 1px solid $color-gray-light;
  padding: $padding-min;
}

header {
  .header {
    padding-top: 10px;
    width: calc(100vw - 157px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__left {
      display: flex;
      align-items: center;

      .header__left__hamburger {
        cursor: pointer;
        width: 40px;
        margin-right: 30px;

        .header__left__hamburger__line {
          width: 40px;
          height: 3px;
          background: $color-text;

          &:not(:last-of-type) {
            margin-bottom: 6px;
          }
        }
      }

      .header__left__logo {
        h2 {
          font-size: $h4;
          cursor: pointer;
        }
      }

      .header__left__logo__svg {
        height: 30px;
      }
    }

    .header__right {
      .header__right__icon {
        height: 30px;
        cursor: pointer;

        &:not(:last-of-type) {
          margin-right: 30px;
        }
      }
    }
  }
}

.product {
  width: calc(100vw - 157px);
  margin: 0 auto;

  .product__inner {
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: 1fr 1fr 1fr;

    .product__inner--left {
      .product__inner__title {
        margin-top: 140px;
      }
    }

    .product__inner--middle {
      .product__inner__image {
        margin-top: 70px;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .product__inner--right {
      .product__inner__previews {
        margin-top: 280px;
        display: flex;
        margin-bottom: 60px;

        .product__inner__previews__circle {
          width: 16px;
          height: 16px;
          background: $color-dark-gray;
          border-radius: 50%;
          margin-right: 20px;
          cursor: pointer;
          transition: all 300ms;

          &.active {
            background: $color-text;
          }
        }
      }

      .product__inner__details {
        .product__inner__details__price {
          margin-bottom: 60px;
        }

        .product__inner__details__description {
          margin-bottom: 60px;
          color: $color-dark-gray;
          font-size: $h5;
        }

        .product__inner__details__sizes {
        }

        .product__inner__details__cart {
          background: none;
          outline: none;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid $color-text;
          padding-bottom: 4px;
          font-weight: bold;
          font-size: $h5;
          cursor: pointer;
        }
      }
    }
  }

  .product__suggestions {
    margin-bottom: 70px;

    .product__suggestions__title {
      margin-bottom: 30px;
    }
    .product__suggestions__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;

      .product__suggestions__cards__card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-height: 400px;
        overflow: hidden;
        border: 1px solid $color-dark-gray;
        border-radius: 30px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
        cursor: pointer;

        .product__suggestion__cards__card--left {
          .product__suggestion__cards__card--left__title {
            margin-bottom: 30px;
          }
          .product__suggestion__cards__card--left__price {
            font-weight: normal;
            color: $color-dark-gray;
          }
        }
      }
    }
  }
}

footer {
  background: $color-text;

  .footer {
    width: calc(100vw - 157px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 30px 0;

    .footer__left {
      .footer__left__title {
        font-size: $h3;
        margin-bottom: 20px;
        color: $color-light-gray;
      }

      .footer__left__description {
        color: $color-light-gray;
      }
    }
    .footer__middle {
      .footer__middle__title {
        font-size: $h3;
        margin-bottom: 20px;
        color: $color-light-gray;
      }

      .footer__middle__menu {
        list-style: none;

        li {
          color: $color-light-gray;
          margin-bottom: 8px;
          cursor: pointer;
        }
      }
    }
    .footer__right {
      .footer__right__title {
        font-size: $h3;
        margin-bottom: 20px;
        color: $color-light-gray;
      }

      .footer__right__description {
        color: $color-light-gray;
        margin-bottom: 20px;
      }
      .footer__right__newsletter {
        margin-bottom: 70px;

        .footer__right__newsletter__input {
          padding: 10px;
          margin-right: 20px;
          width: calc(100% - 120px);
        }

        .footer__right__newsletter__button {
          padding: 10px 20px;
          font-weight: bold;
          font-size: $paragraph;
          background: $color-dark-gray;
          border: none;
          outline: none;
        }
      }

      .footer__right__social {
        .footer__right__social__title {
          color: $color-light-gray;
        }
      }
    }
  }
}

.cart {
  .cart__black__screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
  }

  .cart__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: white;
    z-index: 1;
    padding: 50px 50px 0 50px;
    overflow-y: scroll;

    .cart__container__suggestion {
      margin-bottom: 30px;
    }

    .cart__container__title {
      margin-bottom: 30px;
    }

    .cart__container__products {
      margin-bottom: 50px;

      .cart__container__product {
        position: relative;
        display: flex;
        margin-bottom: 20px;

        .cart__container__product__image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 1px solid $color-dark-gray;
          overflow: hidden;
          margin-right: 20px;
          cursor: pointer;

          img {
            width: 100px;
          }
        }

        .cart__container__product__details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h4 {
            cursor: pointer;
          }

          .cart__container__product__details__bottom {
            display: flex;

            p {
              color: $color-dark-gray;
              font-size: $h5;

              &:not(:last-of-type) {
                margin-right: 60px;
              }
            }
          }
          .cart__container__product__details__remove {
            width: 20px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }

    .cart__container__finish {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;

      button {
        font-size: $h4;
        font-weight: bold;;
      }
    }
  }
}

.btn {
  outline: none;

  &.btn--primary {
    border:none;
    background: $color-text;
    color: $color-light-gray;
    padding: 8px 16px;
  }
}
