<div *ngIf="loading">
  <p>teste</p>
</div>
<div *ngIf="!loading" class="product__card">
  <a
    [routerLink]="['/', model | models, category, gender | genders, url]"
    routerLinkActive="active"
  >
    <div class="product__preview">
      <img [src]="images[0].url" [alt]="name" />
      <img [src]="images[1].url" [alt]="name" />
    </div>
    <div class="product__description">
      <h3 class="text--center paragraph text--bold">{{ name }}</h3>
      <p class="text--center text--muted text--small text--bold">
        R$ {{ price }}
      </p>
    </div>
  </a>
</div>
