// 0 - Bootstrap
@import "~bootstrap/scss/bootstrap";

// 1 - Helpers
@import './app/themes/1-helpers/variables';
@import './app/themes/1-helpers/functions';
@import './app/themes/1-helpers/mixins';

// 2 - Basics
@import './app/themes/2-basics/keyframes';
@import './app/themes/2-basics/reset';
@import './app/themes/2-basics/buttons';
@import './app/themes/2-basics/inputs';

// 3 - Modules
@import './app/themes/3-modules/authForm';
@import './app/themes/3-modules/header';

// 4 - Pages
@import './app/themes/4-pages/productsDetail';
