.hidden {
	transition: all 300ms;
	background: $color-gray-default;
	position: relative;

	.expand {
		cursor: pointer;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%) translateY(-50%);
		font-size: multiply-font-size(map-get($font-multipliers, "h4"));
		z-index: 5;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background: $color-gray-default;
		display: flex;
		justify-content: center;
		align-items: center;

		fa-icon {
			transform: rotate(0);
		}
	}

	h1 {
		margin-bottom: 0;
	}
}

.footer {
	background: $color-gray-default;
	padding: map-get($spacings, "big") 0 map-get($spacings, "small") 0;
	position: relative;

	.text {
		margin-bottom: 0;
		font-size: multiply-font-size(map-get($font-multipliers, "h3"));
	}

	.social-icons {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		font-size: multiply-font-size(map-get($font-multipliers, "h4"));
		text-align: center;
		fa-icon {

			&:first-of-type {
				margin-right: map-get($spacings, "default");
			}

			&:last-of-type {
				margin-left: map-get($spacings, "default");
			}
		}
	}
}
