.header {
	padding: map-get($spacings, "small") 0;

	.menu {
		position: relative;
		height: 28px;
		min-height: 28px;
		width: 28px;
		min-width: 28px;

		.menu-circle {
			&-left {
				top: 0;
				left: 0;
				width: 10px;
				height: 10px;
				position: absolute;
				border-radius: 50%;
				background: $color-text;

				&::after {
					content: '';
					left: 0;
					bottom: -18px;
					width: 10px;
					height: 10px;
					position: absolute;
					border-radius: 50%;
					background: $color-text;
				}
			}

			&-right {
				top: 0;
				right: 0;
				width: 10px;
				height: 10px;
				position: absolute;
				border-radius: 50%;
				background: $color-text;

				&::after {
					content: '';
					right: 0;
					bottom: -18px;
					width: 10px;
					height: 10px;
					position: absolute;
					border-radius: 50%;
					background: $color-text;
				}
			}
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		width: 100%;

		.text {
			margin-bottom: 0;
			font-size: multiply-font-size(map-get($font-multipliers, "h3"));
			margin-right: map-get($spacings, "default");

			@include on-mobile("<phone") {
				font-size: multiply-font-size(map-get($font-multipliers, "h4"));
			}
		}

		.icon {
			height: 45px;

			@include on-mobile("<phone") {
				height: 34px;
			}
		}
	}
}
