name: Continuous integrat

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    # Checking integrity of front end application
    - name: setting up frontend
      run: cd ./web && npm install && npm run build-prod
    
    # Checking integrity of backe end application
    - name: setting up backend
      run: cd ./server && npm install && npm run build
